/*
Theme Name: BluesMaps
Author: Milan Milutinovic
*/
@font-face {
  font-family: 'Spartan';
  src: url('font/league-spartan/LeagueSpartan-Bold.otf');
}
/* @font-face {
  font-family: 'League-Spartan';
  src: url('font/league-spartan/LeagueSpartan-Bold.otf');
} */

/* Hack to fix up the 2nd admin bar from appearing when logged in */
html#html{
  margin-top:0 !important;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box; 
}

/* FIXING ISSUES WITH EDITOR - NEEDS OVERHAUL */

.post-content *{
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size:1em !important;
}

.post-content td.tr-caption span{
  font-family: 'trebuchet ms' , sans-serif !important; 
  font-size:small !important;
  color:black !important;  
}

.post-content a{
  text-decoration:underline;
}

table{
  /* display:block;
  width:100%; */
}

/* END ISSUES WITH EDITOR HACKFIX */

:root{
  --blue: #73B6D4;
  --dark-blue: #1d3c54;
  --gray: #d2d2d2;
}

.hidden{
  display:none;
}

img{
  max-width:100%;
}
figure{
  margin:0;
}
.mapboxgl-popup-content figure{
  text-align:center;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--gray); /* Maybe change this color when zooming in as well for consistency */
}
header, footer {
  text-align:center;
  background-color: var(--dark-blue);
}
header a, footer a{
  color: var(--gray);
}
#site-header{
  display:flex;
  align-items:center;
  justify-content: center;
}
.logo-icon{
    width:50px;
    margin-left:2em;
}

body.blog, body.single-post{
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}

.flex-container{
  display:flex;
}
.flex-column{
  flex-direction:column;
}

.site-footer{
  padding:1em;
  margin-top: auto;
  font-family: 'Spartan';
}
body.single-post .site-footer{
  margin-top:0;
}

nav.post-navigation{
  margin-top:auto;
}

/* Fonts */
header h1{
  display:inline-block;
}
header span{
  font-family: "Spartan";
}

h1, h2, h3{
  font-family: 'Spartan';
}

a{
  text-decoration:none;
  color: var(--dark-blue);
}

p, .comment-list{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:18px;
}
#comments{
  margin-top:8em;
  clear:both;
}
.comment-form-comment, #comment{
  max-width:100%;
}
.comment-list{
  list-style:none;
  padding-left:0;
}
.comment-list li{
  margin: 5px 0;
  border: 2px solid #9c9c9c;
  border-radius: 4px;
  padding: 8px;
}
.comments-title, #reply-title{
  text-align:center;
}
.comment-intro{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
#commentform{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#commentform label{
  display:inline-block;
  width:100px;
}
.comment-form-email, .comment-form-author, .comment-form-url{
  margin:0;
}
input#submit{
  all:unset;
  order:2;
  cursor:pointer;
  text-transform:uppercase;
  border: 2px solid #444;
  padding:8px;
  background-color: #abeeff;
  transition-property: background-color;
  transition-duration: 220ms;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight:bold;
}
input#submit:hover{
  background-color: var(--blue);
  transition-duration: 220ms;
  transition-property: background-color;
}

/* VERY HACKY BUT WE ALL MAKE MISTAKES IN LIFE */
#commentform label[for='comment'], .comment-notes{
  display:none;
}
label{
  width:200px;
}

.post-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1.5px dashed black;
}
.post-header-category{
  margin-top:0;
}
.author-meta-container{
  font-size:0.7em;
}
.single-post-marker-image{
  flex-basis:35%;
}
.the-field-img{
  max-width:150px;
}
.title-author-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 100%;
}

#map{
  height:100vh;
  flex-basis:45%;
} 

#article-iframe{
  height: 100vh;
  flex-basis:55%;
  border-left:3px solid black;
}
.article-container{
  margin-top:1rem;
}

@keyframes music-on {

  from{
    transform: rotate(10deg);
  }

  to {
    transform: translate3d(-1px, 2px, 0) rotate(-5deg);
  }
}

#gramophone-music-icon{
  position: absolute;
  width: 12px;
  top:6px;
  right:6px;

  opacity:0;
  transition-property: opacity;
  transition-duration: 500ms;

  animation-duration:1075ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}


#gramophone-music-icon.music-on {
  opacity: 1;
  animation-name: music-on;
}

.post-content, nav.post-navigation, .post-header{
  padding: 0 25px;
}

.post-content iframe, .post-content img.alignnone{
  display: block;
  margin: 0 auto;
}

.screen-reader-text{
  text-align:center;
}
.nav-links{
  display: flex;
  justify-content: space-around;
}
.nav-links a{
  display:block;
  text-align:center;
}



/* Map CSS */
.mapboxgl-marker{
  cursor:pointer;
  height:28px;
  width:25px;
  background-size:cover;
}

.marker-image{
  width:200px;
}

.marker-image-index{
  width:250px;
  height:250px;
  background-size:cover;
  background-position:center;
}
.marker-image-container{
  margin:1em 0;
  margin-left:2em;
}

.mapboxgl-popup-content figcaption, .mapboxgl-popup-content h3{
  text-align:center;
  line-height:normal;
}
.mapboxgl-popup-content p{
  font-size:12px;
  line-height:normal;
}
.learn-more-button{
  display:flex;
  justify-content:space-around;
  border:2px solid #444;
  padding: 8px 0;
  background-color: #abeeff;
  transition-property: background-color;
  transition-duration: 220ms;
}



.learn-more-button:hover{
  background-color: var(--blue);
  transition-duration:220ms;
  transition-property: background-color;
}

.marker-button-text{
  text-transform:uppercase;
  font-weight:bold;
}

/* .scaleFade-animation-function{
  transform: scale(0.3);
  animation-name: scaleFade;
  animation-duration: 150ms;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes scaleFade {
  to {transform: scale(1);}
} */

/* Music Player */

.map-nav{
  position:absolute;
  top:10px;
  left:10px;
  z-index:1;
}

.btn-icon{
  height:30px;
}
.wide-btn > *{
  width:30px;
}
.change-song{
  display:grid;
  place-items:center;
}
.vinyl-icon{
  width:60px;
  cursor:pointer;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinning{
  transform: rotate(0deg);
  border: 3px solid var(--blue);
  border-radius: 50%;

  animation-name: spin;
  animation-duration: 10000ms;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.btn {
  cursor: pointer;
  display: flex;
  padding: 15px;
  padding-bottom:9px;
  background-color: var(--blue);
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  -moz-transition: box-shadow 0.25s ease;
  -o-transition: box-shadow 0.25s ease;
  -webkit-transition: box-shadow 0.25s ease;
  transition: box-shadow 0.25s ease;
}

#audio-wrapper .tooltip{
  position:absolute;
  white-space:nowrap;
  background-color: var(--blue);
  top:0px;
  left:110%;
  padding:6px;
  padding-bottom:1px;
  border-radius:4px;
  opacity:0;
  transition: opacity 0.25s ease;
  font-size: 1.25em;
  line-height:1.45rem;
}
#audio-wrapper:hover .tooltip{
  display:block;
  opacity:1;
  transition: opacity 0.25s ease;
}
.tooltip h3{
  margin:0;
}


/* Toggler for Markers */
.toggle-marker-categories{
  margin-top:10px;
  border-radius:4px;
  background-color: var(--dark-blue);
  text-align:center;
}
.toggle-marker-categories div{
  padding: 7px 0;
  cursor: pointer;
  transition: opacity 150ms;
  border-radius:4px;
}
.toggle-marker-categories div:hover{
  opacity: 0.65;
  border-radius:4px;
  transition: opacity 150ms; 
}


.post-content iframe{
  max-width:100%;
}

@media only screen and (max-device-width : 1000px) {
  .toggle-marker-categories{
    width:70%;
  }
  .mapboxgl-popup-content figure{
    width:70px;
    margin:0 auto;
  }
  /* simplify marker content for mob */
  .mapboxgl-popup-content figcaption, .marker-desc, .marker-button-text, .tooltip{
    display:none;
  }
  /* Breaks Mapbox terms of agreement - find another way to credit them */
  .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-attrib, .mapboxgl-compact{
    display:none;
  }

}

/* Because this property sits in the iframe it has to be separated */ 
@media (max-width: 600px) {
  .marker-image-index{
    width:120px;
    height:120px;
  }

  
  h1, h2{
    font-size:1rem;
    margin: 5px 0;
  }
  .post-header-category{
    font-size:0.7rem;
  }
  .logo-icon{
    width:1rem;
  }
}

/* 600px and below a message will display to rotate the device */
#mobile-message{
  display:none;
}

@media only screen and (max-device-width : 600px) {
  .desktop-container{
    display:none !important;
  }
  #mobile-message{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: var(--dark-blue);
    height:100vh;
  }

  #mobile-message p{
    margin:30px;
    text-align:center;
    font-family:"spartan";
    letter-spacing:1px;
    line-height:1.5em;
    color: var(--gray);
  }
  #mobile-message h1{
    text-align:center;
    font-size:3em;
    color:var(--gray);
  }

  .logo-icon{
    margin-left:0;
    width: 70%;
    align-self:center;
  }

}